body{
  font-family: 'Oxygen', sans-serif;

  background: linear-gradient(45deg, black,blue);
  color: white;

}
header{
  margin-top: 75px;
}



#info{
  text-align: center;
  color: white;

}


#catalogo{
  display: flex;
}
